@model Client.Models.DB.Accomodation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Accomodation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccomodationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccomodationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccomodationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccomodationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccomodationAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccomodationAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccomodationCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccomodationCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccomodationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
